/* Global */

* {
  font-family: "SF Pro Text", "Pretendard Variable", "Noto Sans CJK KR", sans-serif !important;
}

:root {
  --uc-title-pre-spacer: 10px;
  --uc-title-post-spacer: 2px;
  --tab-max-width: 200px;
  --tab-border-radius: 6px !important;
  --tab-block-margin: 5px;
  --toolbarbutton-border-radius: var(--tab-border-radius) !important;
  --toolbar-start-end-padding: 4px !important;
}

:root:not([lwt-default-theme-in-dark-mode]) {
  --urlbar-box-hover-bgcolor: rgba(201, 201, 207, 0.66) !important;
  --toolbarbutton-hover-background: rgba(0, 0, 0, 0.1) !important;
  --toolbarbutton-active-background: rgba(0, 0, 0, 0.2) !important;
  --toolbar-field-color: black !important;
  --lwt-tab-text: black !important;
}

:root[lwt-default-theme-in-dark-mode] {
  --toolbarbutton-hover-background: rgba(255, 255, 255, 0.1) !important;
  --toolbarbutton-active-background: rgba(255, 255, 255, 0.2) !important;
  --toolbar-field-color: white !important;
  --lwt-tab-text: white !important;
}

#navigator-toolbox {
  border-bottom: none !important;
}

/* Tab Bar */

#TabsToolbar {
  margin-top: 2px;
}

#tabbrowser-tabs:not([overflow]) #tabbrowser-arrowscrollbox> :first-child {
  margin-left: auto !important;
}

#tabbrowser-tabs:not([overflow]) #tabbrowser-arrowscrollbox> :last-child {
  margin-right: auto !important;
}

/* Tab */

#tabbrowser-tabs .tab-content .tab-label-container {
  margin-bottom: 1px;
}

#tabbrowser-tabs .tab-content label.tab-label {
  font-size: 13px;
}

#tabbrowser-tabs .tab-content[selected] label.tab-label {
  font-weight: 500;
}

#tabbrowser-tabs .tab-label-container:not([selected], [multiselected]) {
  opacity: 0.85 !important;
}

#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12) !important;
}

#tabbrowser-tabs .tab-content:not([pinned]) .tab-icon-stack {
  margin-left: 1px;
}

#tabborwser-tabs .tab-label-container {
  margin-left: 2px;
}

#tabbrowser-tabs image.close-icon {
  margin-inline-end: -2px !important;
}

#tabbrowser-tabs tab .tab-content:not([selected]) image.close-icon {
  display: none;
}

#tabbrowser-tabs tab:hover .tab-content:not([selected]) image.close-icon {
  display: inline-flex;
}

:root:not([lwt-default-theme-in-dark-mode]) #tabbrowser-tabs .tab-background[selected] {
  background: rgba(255, 255, 255, 0.75) !important;
}

:root[lwt-default-theme-in-dark-mode] #tabbrowser-tabs .tab-background[selected] {
  background: rgba(205, 205, 205, 0.15) !important;
}

:root:not([lwt-default-theme-in-dark-mode]) toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-icon,
:root:not([lwt-default-theme-in-dark-mode]) toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-badge-stack {
  --toolbarbutton-hover-background: rgba(0, 0, 0, 0.1) !important;
  --toolbarbutton-active-background: rgba(0, 0, 0, 0.2) !important;
}

:root[lwt-default-theme-in-dark-mode] toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-icon,
:root[lwt-default-theme-in-dark-mode] toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-badge-stack {
  --toolbarbutton-hover-background: rgba(255, 255, 255, 0.1) !important;
  --toolbarbutton-active-background: rgba(255, 255, 255, 0.2) !important;
}

/* URL Bar */

#nav-bar-customization-target {
  padding-top: 2px;
}

#urlbar-container {
  margin-top: -2px;
}

#urlbar-input {
  font-size: 15px !important;
  text-align: center !important;
}

#urlbar[focused] #urlbar-input {
  text-align: left !important;
}

#navigator-toolbox:not(:hover) #urlbar:not([focused]) #urlbar-background {
  --toolbar-field-background-color: transparent;
}

:root:not(:-moz-window-inactive)[lwt-default-theme-in-dark-mode] #navigator-toolbox:hover #urlbar:not([focused]) #urlbar-background {
  background-color: rgba(215, 215, 215, 0.15) !important;
}

:root:not(:-moz-window-inactive):not([lwt-default-theme-in-dark-mode]) #navigator-toolbox:hover #urlbar:not([focused]) #urlbar-background {
  background-color: rgba(40, 40, 40, 0.15) !important;
}

#urlbar:not([focused]) #urlbar-background {
  border: none !important;
}

.identity-box-button:not([open]):not(:hover),
#urlbar-label-box {
  background-color: transparent !important;
}

#star-button[starred] {
  fill-opacity: var(--urlbar-icon-fill-opacity) !important;
  fill: currentColor !important;
}

/* Bookmarks */

#PlacesToolbarItems {
  justify-content: center;
  padding-bottom: 2px;
}

#PlacesToolbarItems toolbarbutton.bookmark-item>image {
  display: none;
}

#PlacesToolbarItems toolbarbutton.bookmark-item>label {
  opacity: 0.6;
}

#PlacesToolbarItems toolbarseparator {
  opacity: 0.4;
}